div.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 4px;
  transition: opacity .15s;

  line-height: 10px;
}

div.column.contestants {
  margin-right: 10px;
}

div.item.title {
  color: rgba(255, 255, 255, 0.62);
  background-color: transparent;
  font-weight: inherit;
  text-align: center;
}

div.item {
  margin: 0 5px;
  padding: 5px 0 1px 5px;
  width: 100%;

  background-color: rgba(169, 169, 169, 0.62);
  border-radius: 4px;

  font-size: 1.9rem;
  line-height: 1.1;
  font-weight: bold;

  transition: all .1s;
}

div.item.joined {
  border-radius: 4px 0 0 4px;
}

div.column.winners > div.item.joined {
  margin-left: 5px;
  width: calc(100% + 18px);
  border-radius: 0 4px 4px 0;
}

div.item.blue {
  background-color: rgba(185, 181, 255, 0.62);
}

div.item.final {
  background-color: rgba(114, 255, 175, 0.62);
  color: rgba(0, 0, 0, 0.9);
}

div.item.active {
  background-color: white;
}

@keyframes pulse {
  0%   { box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.75) }
  50%  { box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.75) }
  100% { box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.75) }
}

/* Image Left */
div.item.image-left {
  position: relative;
  border-radius: 0 4px 4px 0;
}

div.item.image-left::before {
  position: absolute;
  height: 37px;
  width: 37px;

  content: '';
  background-image: var(--image);
  background-size: contain;

  top: 0;
  left: -37px;
  border-radius: 4px 0 0 4px;

  filter: saturate(0.6);
}

div.item.title.image-left {
  transform: translateX(calc((37px / 2) * -1));
}

/* Image Right */
div.item.image-right {
  position: relative;
  border-radius: 4px 0 0 4px;
}

div.item.joined.image-right {
  position: relative;
  border-radius: 0 !important;
}

div.item.image-right::after {
  position: absolute;
  height: 37px;
  width: 37px;

  content: '';
  background-image: var(--image);
  background-size: contain;

  top: 0;
  right: 0;
  transform: translateX(37px);
  border-radius: 0 4px 4px 0;

  filter: saturate(0.6);
}

div.item.title.image-left {
  transform: translateX(calc((37px / 2) * -1));
}

div.column.contestants > div.item.selected {
  transform: translateX(-15px);
  animation-name: pulse;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
