* {
  user-select: none;
}

body {
  background-color: black;
  margin: 0;
  height: 100vh;

  font-family: 'Teko';
  background-image: url('../images/background.png');
}

img {
  pointer-events: none;
}

button.debug {
  position: absolute;
  top: 50px;
  right: 240px;
  font-size: 2rem;

  z-index: 1000;
}

button.debug.next {
  top: 100px;
}

button.debug.reset {
  top: initial;
  bottom: 50px;

  font-size: 1rem;
  font-weight: bold;
}

.hidden {
  opacity: 0;
}

div.container {
  display: flex;
  height: 100%;
}
